.list-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 58vw;
  min-height: 58px;
  height: 58px;
  padding: 0px 12px;
  background-color: #f2f4ff;
  border-radius: 24px;
  margin-bottom: 22px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 12px;
}

.list-card-text-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.list-card-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.list-card-subtitle {
  font-size: 0.875rem;
}

.arrow-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20%;
  cursor: pointer;
}

.arrow-icon {
  width: 6px;
  height: 12px;
  object-fit: contain;
 }