.modal {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 27vw;
  height: 100vh;
  background-color: #FFFFFF;
  align-items: center;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-close-button {
  width: 24px;
  height: 24px;
  background-image: url('../../../public/images/close.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 49vh;
}

@media screen and (max-width: 420px) {
  .modal-content {
    width: 100vw;
  }
}

@media screen and (min-width: 421px) and (max-width: 830px) {
  .modal-content {
    width: 42vw;
  }

  .buttons-container {
    height: 10vh;
  }
}